.about {

.container {
    background-color: @background-color;
    color: @text-color;
}  
.photos {
    border: 1px solid black;
    max-width: 100%;
    display:flex;
    // align-items: center;
    // justify-content: center;
}
section p {
    margin-bottom: 2%;
}
section h2 {
    // margin-bottom: 2%;
    padding: 20px;
}
.sell {
    display: flex;
    flex-direction: column;
}
section .h3{
    display: flex;
    justify-content: center;
}
	.article {
		padding: 0 3%;
		padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 46%;
}
.inspire{
    border-radius: 25px;
}
}