header {
    h1 {
        text-align: center;
    }

    div {
        margin-left: 15%;
        margin-top: 5%;

        img {
            width: 80%;
        }
    }
}

.features {
    h2 {
        text-align: center;
        margin: 3% 0;
    }
    div {
        width: 65%;
        padding: 5%;
        p {
            font-size: 2rem;
        }
    }
}

.feature-container {
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
}

.feature-1,
.feature-2,
.feature-3 {
    background-color: #f5bb0a;
}
