.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1px solid @text-color;
    background-color: @background-color2;

    @media (min-width: 1200px) {
        justify-content: center;
    }

    @media @phone {
        flex-direction: column;
    }

    .logo {
        margin-left: 20px;
        width: 200px;

        img {
            padding: 0;
        }
    }

    nav {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        max-width: 900px;

        a {
            font-size: 2.6rem;
            text-decoration: none;
            color: @text-color;
            box-sizing: border-box;

            &:hover {
                border-bottom: 3px solid @text-color;
            }
        }
    }
}
