/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Sen", sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo Da 2", cursive;
  color: #FFA500;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #FFA500;
  font-family: "Baloo Da 2", cursive;
}
img {
  max-width: 100%;
}
.container {
  background-color: #2E294E;
}
.body-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #FFA500;
  background-color: #2E294E;
}
@media (min-width: 1200px) {
  .nav {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}
.nav .logo {
  margin-left: 20px;
  width: 200px;
}
.nav .logo img {
  padding: 0;
}
.nav nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
}
.nav nav a {
  font-size: 2.6rem;
  text-decoration: none;
  color: #FFA500;
  box-sizing: border-box;
}
.nav nav a:hover {
  border-bottom: 3px solid #FFA500;
}
footer {
  background-color: #2E294E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #FFA500;
}
footer nav {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
footer nav a {
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #FFA500;
}
footer p {
  text-align: center;
}
header h1 {
  text-align: center;
}
header div {
  margin-left: 15%;
  margin-top: 5%;
}
header div img {
  width: 80%;
}
.features h2 {
  text-align: center;
  margin: 3% 0;
}
.features div {
  width: 65%;
  padding: 5%;
}
.features div p {
  font-size: 2rem;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
}
.feature-1,
.feature-2,
.feature-3 {
  background-color: #f5bb0a;
}
.contact input,
.contact textarea,
.contact select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  background-color: #3d348b;
  border: 1px solid #7678ED;
  color: #7678ED;
}
.contact .submit {
  padding: 20px 0;
  font-size: 2rem;
  background-color: #7678ED;
  color: #FFA500;
}
.contact .submit:hover {
  background-color: #FFA500;
  color: #7678ED;
}
.contact label {
  display: block;
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #FFA500;
}
.contact p,
.contact h1,
.contact img {
  padding-bottom: 10px;
}
.contact h1,
.contact h2 {
  padding: 20px 0;
}
.contact form {
  padding-top: 20px;
}
.contact section {
  padding: 3% 3%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.contact section .left,
.contact section .right {
  width: 46%;
}
.contact section .left {
  height: 100%;
  /* &:after {
            position: absolute;
            display: inline-block;
            top: 0px;
            left: 0px;
            content: "";
            height: 70%;
            border-right: 1px solid @text-color;
            width: 100%;
        }
        */
}
@media (max-width: 500px) {
  .contact section {
    flex-direction: column;
  }
  .contact section .left,
  .contact section .right {
    width: 100%;
  }
  .contact section .left img,
  .contact section .left p {
    display: none;
  }
}
.contact header {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #FFA500;
}
.contact header p {
  padding: 0 3%;
}
