/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Sen', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Baloo Da 2', cursive;
  color: black;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
.container {
  background-color: cornflowerblue;
}
.body-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
  background-color: lightcyan;
}
@media (min-width: 1200px) {
  .nav {
    justify-content: center;
  }
}
.nav .logo {
  margin-left: 20px;
}
.nav nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
}
.nav nav a {
  font-size: 2.6rem;
  text-decoration: none;
}
footer {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer nav {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
footer nav a {
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
}
footer p {
  text-align: center;
}
iframe {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
}
.contact input,
.contact textarea,
.contact select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.contact label {
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}
.contact p,
.contact h1,
.contact img {
  padding-bottom: 10px;
}
.contact section {
  padding: 0 3%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.contact section .left,
.contact section .right {
  width: 46%;
}
.contact header {
  margin-bottom: 20px;
}
.contact header p {
  padding: 0 3%;
}
